hydra-core==1.3.2
omegaconf==2.3.0

freetype-py==2.4.0
shapely==2.0.3
svgutils==0.3.4
cairosvg==2.8.2

opencv-python==4.9.0.80
scikit-image==0.22.0
matplotlib==3.8.3
visdom==0.2.4
wandb==0.16.4
BeautifulSoup4==4.12.3

triton==2.2.0
numba==0.59.1

numpy==1.26.4
scipy==1.12.0
scikit-fmm==2023.4.2
einops==0.7.0
timm==0.9.16
fairscale==0.4.13

accelerate==0.28.0
transformers==4.39.1
safetensors==0.4.2
datasets==2.18.0

easydict==1.13
scikit-learn==1.4.1.post1
pytorch_lightning==2.1.0
webdataset==0.2.86

ftfy==6.2.0
regex==2023.12.25
tqdm==4.66.2

git+https://github.com/openai/CLIP.git@ded190a052fdf4585bd685cee5bc96e0310d2c93

diffusers==0.20.2

https://github.com/xiaoyao9184/wheel-diffvg/releases/download/wheels-f548de3c6bac885eb69bab33c29447fc357c2821/diffvg-0.0.1+torch231cu118-cp310-cp310-linux_x86_64.whl

svgwrite==1.4.3
svgpathtools==1.6.1
cssutils==2.9.0
torch-tools==0.1.5

# fix cannot import name 'cached_download' from 'huggingface_hub'
huggingface-hub==0.21.4
